<section>
  <div class="container section-about-us" id="about-us-id">
    <div class="text-content-section-about-us">
      <h2 class="about-us-title">
        YachtJet fleet is here to take you on the ultimate adventure
      </h2>

      <div>
        <p class="text-top">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
        </p>

        <p class="text-bottom">
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.No matter which yacht you choose, our
          experienced crew will ensure that your journey is smooth and
          enjoyable. Book now and get ready for an unforgettable adventure on
          the high seas.
        </p>
      </div>
    </div>
    <div class="about-us-img">
      <picture>
        <source
          srcset="
            ./img/about-us/about-us-desktop@1x.jpg 1x,
            ./img/about-us/about-us-desktop@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/about-us/about-us-mobile@1x.jpg 1x,
            ./img/about-us/about-us-mobile@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./img/about-us/about-us-tablet@1x.jpg 1x,
            ./img/about-us/about-us-tablet@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <img
          src="./img/about-us/about-us-desktop@1x.jpg"
          alt="photo yacht"
          width="1340px"
          height="470px"
        />
      </picture>
    </div>
  </div>
</section>
