<section>
  <div class="container section-advantages">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <span class="advantages-content">
          Swimming and water sports: try your hand at water skiing</span
        >
      </li>
      <li class="advantages-item">
        <span class="advantages-content">
          Fishing: try to catch your own dinner</span
        >
      </li>
      <li class="advantages-item">
        <span class="advantages-content"
          >Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </span>
      </li>
      <li class="advantages-item">
        <span class="advantages-content"
          >Rest and relaxation: read a book or listen to music while enjoying
          the outdoor atmosphere.</span
        >
      </li>
    </ol>
  </div>
</section>
