<!-----------------FOOTER------------------>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-cont-soc">
      <nav class="footer-nav">
        <a class="footer-logo" href="./index.html">yachtjet</a>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <div class="footer-nav-item-cont">
              <a class="footer-nav-item-link" href="#about-us-id">About</a>
            </div>
          </li>
          <li class="footer-nav-item">
            <div class="footer-nav-item-cont">
              <a class="footer-nav-item-link" href="#our-yachts-id">Yachts</a>
            </div>
          </li>
          <li class="footer-nav-item">
            <div class="footer-nav-item-cont">
              <a class="footer-nav-item-link" href="#reviews-id">Reviews</a>
            </div>
          </li>
        </ul>
      </nav>
      <ul class="footer-icon-list">
        <li class="footer-icon-item">
          <a
            class="footer-icon-link"
            title="Instagram"
            href="https://www.instagram.com/goitclub/"
          >
            <svg
              class="footer-icon-soc"
              width="24"
              height="24"
              aria-label="instagram-logo"
            >
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            class="footer-icon-link"
            title="Youtube"
            href="https://www.youtube.com/c/GoIT"
          >
            <svg
              class="footer-icon-soc"
              width="24"
              height="24"
              aria-label="youtube logo"
            >
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            class="footer-icon-link"
            title="Facebook"
            href="https://www.facebook.com/goITclub/"
          >
            <svg
              class="footer-icon-soc"
              width="24"
              height="24"
              aria-label="facebook logo"
            >
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <ul class="footer-police">
      <li>2023. Yacht Adventures</li>
      <li>Privacy Police</li>
    </ul>
  </div>
</footer>
