<!--========================= Backdrop =========================-->
<div class="mobile-menu-wrapper" data-menu>
  <div class="mobile-container-menu container">
    <div class="mobile-top">
      <a class="logo link" href="">yachtjet</a>
      <button class="close-btn-backdrop" type="button" data-menu-close>
        <svg width="28" height="28" aria-label="close button menu">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-navigation-wrapper">
      <ul class="header-menu-wrapper list">
        <li class="header-menu-item">
          <a class="header-menu-link selected link" href="#about-us-id"
            >About</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#our-yachts-id">Yachts</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#reviews-id">Reviews</a>
        </li>
      </ul>
    </nav>

    <ul class="header-menu-icon-wrapper list">
      <li class="header-menu-item-icon">
        <a
          class="header-link-icon-wrapper link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          title="Instagram"
        >
          <svg
            class="mobile-social-icon-wrapper"
            width="24"
            height="24"
            aria-label="instagram icon link"
          >
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-menu-item-icon">
        <a
          class="header-link-icon-wrapper link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          title="YouTube"
        >
          <svg
            class="mobile-social-icon-wrapper"
            width="24"
            height="24"
            aria-label="youtube icon link"
          >
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="header-menu-item-icon">
        <a
          class="header-link-icon-wrapper link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          title="Facebook"
        >
          <svg
            class="mobile-social-icon-wrapper"
            width="24"
            height="24"
            aria-label="facebook icon link"
          >
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--========================= /Backdrop =========================-->
