<section class="our-yachts">
    <div class="container">
        <h2 class="our-yachts-title">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="list-our">
            <li class="item-hero-our">
                <div class="yacht-our-container-img">
                    <picture>
                        <source media="(min-width: 320px)"
                            srcset="../img/our-yachts/arrow/yahtarrow-mobile@1x.jpg 1x, ../img/our-yachts/arrow/yahtarrow-mobile@2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="../img/our-yachts/arrow/yahtarrow-tablet@1x.jpg 1x, ../img/our-yachts/arrow/yahtarrow-tablet@2x.jpg 2x">
                        <source media="(min-width: 1280px)"
                            srcset="../img/our-yachts/arrow/yahtarrow-desctop@1x.jpg 1x, ../img/our-yachts/arrow/yahtarrow-desctop@2x.jpg 2x">
                        <img src="../img/our-yachts/arrow/yahtarrow-desctop@1x.jpg" alt="yacht-arrow" width="345" height="268">
                    </picture>
                </div>
                <div class="title-box">
                    <h3 class="describe-title">Arrow</h3>
                    <p class="describe-text">Luxury Yachts</p>
                </div>
                <div class="describe-box">
                    <ul class="describe-list-left">
                        <li class="list-left-item">Length</li>
                        <li class="list-left-item">Builder</li>
                        <li class="list-left-item">Built</li>
                        <li class="list-left-item">Guests</li>
                        <li class="list-left-item">Price</li>
                    </ul>
                    <ul class="describe-list-right">
                        <li class="list-right-item">48m(155ft)</li>
                        <li class="list-right-item">Admiral</li>
                        <li class="list-right-item">2021</li>
                        <li class="list-right-item">11 in 5 cabins</li>
                        <li class="list-right-item">€33,500,000</li>
                    </ul>
                </div>

            </li>
            <li class="item-hero-our hero-item-one">
                <div class="yacht-our-container-img">
                    <picture>
                        <source media="(min-width: 768px)"
                            srcset="../img/our-yachts/benetti/yahtbenetti-tablet@1x.jpg 1x, ../img/our-yachts/benetti/yahtbenetti-tablet@2x.jpg 2x ">
                        <source media="(min-width: 1280px)"
                            srcset="../img/our-yachts/benetti/yahtbenetti-desctop@1x.jpg 1x, ../img/our-yachts/benetti/yahtbenetti-desctop@2x.jpg 2x">
                        <img src="../img/our-yachts/benetti/yahtbenetti-desctop@1x.jpg" alt="yacht-benetti" width="345" height="268">
                    </picture>
                </div>
                <div class="title-box">
                    <h3 class="describe-title format-title">Benetti oasis 40m bo122</h3>
                    <p class="describe-text">Luxury Yachts</p>
                </div>
                <div class="describe-box">
                    <ul class="describe-list-left">
                        <li class="list-left-item">Length</li>
                        <li class="list-left-item">Builder</li>
                        <li class="list-left-item">Built</li>
                        <li class="list-left-item">Guests</li>
                        <li class="list-left-item">Price</li>
                    </ul>
                    <ul class="describe-list-right">
                        <li class="list-right-item">41m (133ft)</li>
                        <li class="list-right-item">Benetti</li>
                        <li class="list-right-item">2025</li>
                        <li class="list-right-item">10 in 5 cabins</li>
                        <li class="list-right-item">€23,210,000</li>
                    </ul>
                </div>
            </li>
            <li class="item-hero-our hero-item-two">
                <div class="yacht-our-container-img">
                    <picture>
                    <source media="(min-width: 1280px)"
                        srcset="../img/our-yachts/belle/yahtbelle-desctop@1x.jpg 1x, ../img/our-yachts/belle/yahtbelle-desctop@2x.jpg 2x">
                    <img src="../img/our-yachts/belle/yahtbelle-desctop@1x.jpg" alt="yacht-belle" width="345" height="268">
                </picture>
                </div>
                <div class="title-box">
                    <h3 class="describe-title">Belle Anna</h3>
                    <p class="describe-text">Luxury Yachts</p>
                </div>
                <div class="describe-box">
                    <ul class="describe-list-left">
                        <li class="list-left-item">Length</li>
                        <li class="list-left-item">Builder</li>
                        <li class="list-left-item">Built</li>
                        <li class="list-left-item">Guests</li>
                        <li class="list-left-item">Price</li>
                    </ul>
                    <ul class="describe-list-right">
                        <li class="list-right-item">50m(155ft)</li>
                        <li class="list-right-item">ISA</li>
                        <li class="list-right-item">2012</li>
                        <li class="list-right-item">12 in 6 cabins</li>
                        <li class="list-right-item">€21,000,000</li>
                    </ul>
                </div>
            </li>
        </ul>
        <a href="#Rent-a-yacht" class="yacht-rental-link">Yacht rental</a>
    </div>

</section>
