
<section class="section-rent">
    <div class="container block">
      <h3 class="rent-text">Rent a yacht now</h3>
      
          <div class="rent">
            <form class="rent-form">
              <input
                class="rent-input"
                name="full-name"
                type="text"
                placeholder="Full Name"
                pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
                required
              />



                <input class="rent-input"
                name="user-email"
                type="email"
                placeholder="Email"
                required
                />

              <input
                class="rent-input"
                name="user-phone"
                type="tel"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx"
                placeholder="Phone number"
                required
              />

              <textarea
                class="comment"
                id="user-comment"
                name="user-comment"
                placeholder="Comment"
                required
              ></textarea>

              <button class="rent-submit-btn" type="submit">Send</button>
            </form>
          </div>
          

        <div class="rent-img">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/rent-a-yacht/Desk-yacht@1x.jpg 1x,
              ./img/rent-a-yacht/Desk-yacht@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
              ./img/rent-a-yacht/mob-yacht@1x.jpg 1x,
              ./img/rent-a-yacht/mob-yacht@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
              ./img/rent-a-yacht/tab-yacht@1x.jpg 1x,
              ./img/rent-a-yacht/tab-yacht@2x.jpg 2x
              "
              type="image/jpg"
            />

            
            <img
              src="./img/rent-a-yacht/Desk-yacht@1x.jpg"
              alt="yacht"
              loading="lazy"
              width="658"
              height="534"
            />
          </picture>
        </div>

    </div>
  </section>