<section class="reviews">
  <div class="container content-reviews">
    <h2 class="content-reviews-first">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="content-reviews-paragraf">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-groupe-item">
      <li class="reviews-item">
        <img
          class="avatar"
          src="./img/reviews/avatar1.jpg"
          srcset="./img/reviews/avatar1@2x.jpg 2x"
          alt="photo John Wax"
          width="56"
        />
        <div class="name-paragraf">
          <h3 class="avatar-name">John Wax</h3>
          <p class="avatar-pargraf">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="reviews-item reviews-item-second">
        <img
          class="avatar"
          src="./img/reviews/avatar2.jpg"
          srcset="./img/reviews/avatar2@2x.jpg 2x"
          alt="photo Victoria Romashenko"
          width="56"
        />
        <div class="name-paragraf">
          <h3 class="avatar-name">Victoria Romashenko</h3>
          <p class="avatar-pargraf">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="reviews-item reviews-item-third">
        <img
          class="avatar"
          src="./img/reviews/avatar3.jpg"
          srcset="./img/reviews/avatar3@2x.jpg 2x"
          alt="photo Ihor Trachuk"
          width="56"
        />
        <div class="name-paragraf">
          <h3 class="avatar-name">Ihor Trachuk</h3>
          <p class="avatar-pargraf">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
