.main-title {
    margin-top: 99px;
    color: var(--color-light);
    text-align: center;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 335px;
}

.text-hero {
    color: var(--color-text-hero);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.16;
    margin-bottom: 38px;
    max-width: 335px;
}

.order-servis {
    display: block;
    justify-content: space-between;
    padding: 14px 32px;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    min-width: 141px;
    height: 46px;
    color: var(--color-light);
    font-weight: 500;
    letter-spacing: -0.02em;
    background-color: var(--color-dark-green);
}

.order-servis:hover,
.order-servis:focus {
    color: var(--color-dark-green);
    background-color: var(--color-light);
}

@media screen and (min-width: 768px) {
    .container-hero {
        min-width: 768px;

    }

    .main-title {
        text-align: center;
        font-size: 70px;
        max-width: 704px;
    }

    .text-hero {
        font-size: 16px;
        font-weight: 300;

    }


}

@media screen and (min-width: 1280px) {
    .container-hero {
        min-width: 1280px;

    }

    .main-title {
        font-size: 80px;
        max-width: 1001px;
    }

    .text-hero {
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 597px;
        line-height: 1.4em;

    }
}