.our-yachts {
    background-color: #0e1823;
}

.container {
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

.our-yachts-title {
    color: #fbfbfb;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-top: auto;
    margin-bottom: 40px;
}

.list-our {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item-hero-our {
    background-color: #fbfbfb;
    border-radius: 24px;
}

.yacht-our-container-img {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 33px;
    /* object-fit: cover; */
    border-radius: 24px;
    overflow: hidden;
}

.title-box {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin-bottom: 32px;
}

.describe-title {
    color: #1b414b;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    text-transform: uppercase;
}

.format-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    text-transform: uppercase;
}

.describe-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.describe-box {
    display: inline-flex;
    position: relative;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    gap: 114px;
}

.describe-box::before {
    position: absolute;
    content: '';
    width: 272px;
    height: 1px;
    top: -16px;
    background-color: rgba(4, 3, 6, 0.1);
}

.describe-list-left {
    /* padding-left: 32px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.list-left-item {
    /* color: #040306; */
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.describe-list-right {
    /* padding-right: 32px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.list-right-item {
    color: #040306;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.yacht-rental-link {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    padding: 14px 32px;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    background-color: #0e1823;
    margin-top: 40px;
    width: auto;
    height: 46px;
}

.yacht-rental-link:hover,
.yacht-rental-link:focus {
    color: #1B414B;
    background-color: #FBFBFB;

}

@media screen and (min-width: 320px) {
    .container {
        max-width: 375px;
        padding: 0 20px;
        margin: 0 auto;
    }
    .hero-item-one{
        display: none;
    }

    .hero-item-two{
        display: none;

    }

}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    /* .our-yachts{
        width: 100%;
        height: auto;
    } */
    .our-yachts-title {
        font-size: 48px;
        margin-bottom: 75px;
    }

    .list-our {
        display: flex;
        flex-direction: row;
    }
    .hero-item-one{
        display: inline;
    }

    .hero-item-two {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 50px;
    }

    .list-our {
        display: flex;
        flex-direction: row;
    }

     .hero-item-two {
        display: inline;
    }



}