.section-rent {
  margin-bottom: 80px;
}
.rent-title {
  color: var(--color-light);
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 80px;
}

.rent-input {
  color: var(--color-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 12px;
  border: 1px solid var(--input-border);
  width: 100%;
  height: 42px;
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-input::placeholder {
  color: var(--color-gray);
}

.rent-input:hover,
.rent-input:focus {
  border-color: var(--input-border-focus);
}

.comment {
  color: var(--color-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  padding-left: 18px;
  padding-top: 14px;
  width: 100%;
  height: 108px;
  border-radius: 12px;
  border: 1px solid var(--input-border);
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.comment::placeholder {
  color: var(--color-gray);
}

.comment:hover,
.comment:focus {
  border-color: var(--input-border-focus);
}

.rent-submit-btn {
  border: none;
  width: 122px;
  height: 46px;
  border-radius: 15px;
  background-color: var(--color-dark-green);
  color: var(--color-light);
  padding: 14px 44px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 20px;
}

.rent-submit-btn:hover,
.rent-submit-btn:focus {
  background-color: var(--color-light);
  color: var(--color-dark-green);
  outline: 0px solid transparent;
}
.rent-img {
  max-width: 335px;
  height: 412px;
  border-radius: 24px;
  overflow: hidden;
}
.rent-img img {
  width: 100%;
  height: 100%;
}

/* =============TABLET=========== */
@media screen and (min-width: 768px) {
  .section-rent {
    margin-bottom: 150px;
  }

  .rent-title {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
  }

  .rent-form {
    margin-right: auto;
    margin-left: auto;
    max-width: 472px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 100px;
  }
  .rent-input {
    font-size: 14px;
    line-height: 1.29;
  }

  .comment {
    font-size: 14px;
    line-height: 1.29;
  }

  .rent-submit-btn {
    font-size: 18px;
    width: 194px;
    height: 56px;
    padding: 18px 75px;
    line-height: 1.1;
    margin-top: 30px;
  }
  .rent-img {
    max-width: 704px;
    height: 534px;
  }
}

/* =============TABLET=========== */

/* =============DESKTOP=========== */
@media screen and (min-width: 1280px) {
  .section-rent {
    margin-bottom: 152px;
  }

  .block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .rent-form {
    width: 472px;
  }
  .rent-title {
    text-align: left;
  }

  .rent-img {
    max-width: 658px;
  }
}
/* =============DESKTOP=========== */
