:root {
  --color-dark: #040306;
  --color-light-dark: #0e1823;
  --color-dark-green: #1b414b;
  --color-light: #fbfbfb;
  --text-color: rgba(4, 3, 6, 0.4);
  --line-color: rgba(4, 3, 6, 0.1);
  --border-color: rgba(251, 251, 251, 0.35);
}
