:root {
  --color-dark: #040306;
  --color-light-dark: #0e1823;
  --color-dark-green: #1b414b;
  --color-light: #fbfbfb;
  --text-color: rgba(4, 3, 6, 0.4);
  --color-gray: rgba(251, 251, 251, 0.4);
  --color-white-gray: rgba(251, 251, 251, 0.8);
  --line-color: rgba(4, 3, 6, 0.1);
  --border-color: rgba(251, 251, 251, 0.35);
  --stroke-burger: #2f2f37;
  --header-menu-link: rgba(27, 65, 75, 0.5);
  --header-menu-link-hover: #062730;
  --backdrop-hover-social-link: rgba(251, 251, 251, 0.8);
  --color-lines: #fbfbfb1a;
}
